
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="mb-4">Referans Oluştur</h2>

<form method="post" style="max-width: 350px;">
    <div class="mb-3">
        <label for="TestimonialName" class="form-label">Referans Adı</label>
        <input type="text" class="form-control" id="TestimonialName" name="TestimonialName" placeholder="Referans adını girin" />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Açıklama</label>
        <input type="text" class="form-control" id="Description" name="Description" placeholder="Açıklama girin" />
    </div>

    <div class="mb-3">
        <label for="ImageURL" class="form-label">Fotoğraf URL</label>
        <input type="text" class="form-control" id="ImageURL" name="ImageURL" placeholder="Fotoğraf linkini girin" />
    </div>

    <div class="mb-4">
        <label for="Title" class="form-label">Ünvan</label>
        <input type="text" class="form-control" id="Title" name="Title" placeholder="Ünvan girin" />
    </div>

    <button type="submit" class="btn btn-success w-100">Referans Ekle</button>
</form>
