
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width:300px;margin:100px auto;padding:20px;border:1px solid red; border-radius:10px">
        
        <form action="/Login/Index" method="post">
            <div>
                <label>Kullanıcı adı</label>
                <input type="text" name="UserName" style="width:100%" />
            </div>

            <div style="margin-top:10px">
                <label>Parola</label>
                <input type="password" name="Password" style="width:100%" />
            </div>
            <br /><br />
            <input type="submit" value="Giriş Yap" style="width:100%;padding:5px" />
        </form>
        @if (ViewData.ModelState.IsValid)
            {
                <p style="color:red">@Html.ValidationSummary()</p>
            }
    </div>
</body>
</html>
