
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Paneli</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        *, ::after, ::before {
            box-sizing: border-box;
        }

        body {
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 37%, rgba(0,212,255,1) 94%);
            color: #fff;
            font-family: monospace, serif;
            letter-spacing: 0.05em;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
        }

        h1 {
            font-size: 23px;
        }

        .form {
            width: 300px;
            padding: 64px 15px 24px;
            margin: 0 auto;
        }

            .form .control {
                margin: 0 0 24px;
            }

            .form input {
                width: 100%;
                padding: 14px 16px;
                border: 0;
                background: transparent;
                color: #fff;
                font-family: monospace, serif;
                letter-spacing: 0.05em;
                font-size: 16px;
            }

                .form input:hover,
                .form input:focus {
                    outline: none;
                    border: 0;
                }

        .btn {
            width: 100%;
            display: block;
            padding: 14px 16px;
            background: transparent;
            outline: none;
            border: 0;
            color: #fff;
            letter-spacing: 0.1em;
            font-weight: bold;
            font-family: monospace;
            font-size: 16px;
        }

        .block-cube {
            position: relative;
        }

            .block-cube .bg-top {
                position: absolute;
                height: 10px;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 37%, rgba(0,212,255,1) 94%);
                bottom: 100%;
                left: 5px;
                right: -5px;
                transform: skew(-45deg, 0);
            }

            .block-cube .bg {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 37%, rgba(0,212,255,1) 94%);
            }

            .block-cube .bg-right {
                position: absolute;
                background: rgba(0,212,255,1);
                top: -5px;
                z-index: 0;
                bottom: 5px;
                width: 10px;
                left: 100%;
                transform: skew(0, -45deg);
            }

            .block-cube .bg-inner {
                background: #212121;
                position: absolute;
                left: 2px;
                top: 2px;
                right: 2px;
                bottom: 2px;
                transition: all 0.2s ease-in-out;
            }

            .block-cube .text {
                position: relative;
                z-index: 2;
            }

        .block-input input {
            position: relative;
            z-index: 2;
        }

        .block-input:focus .bg-inner,
        .block-input:hover .bg-inner {
            top: 100%;
            background: rgba(255, 255, 255, 0.5);
        }

        .block-input .bg-top,
        .block-input .bg-right,
        .block-input .bg {
            background: rgba(255, 255, 255, 0.5);
            transition: background 0.2s ease-in-out;
        }

        .block-input:focus .bg-top,
        .block-input:hover .bg-top,
        .block-input:focus .bg-right,
        .block-input:hover .bg-right,
        .block-input:focus .bg,
        .block-input:hover .bg {
            background: rgba(255, 255, 255, 0.8);
        }

        .credits {
            text-align: center;
            margin-top: 20px;
        }

            .credits a {
                opacity: 0.6;
                color: #fff;
                font-size: 11px;
                text-decoration: none;
            }

                .credits a:hover {
                    opacity: 1;
                }

        .alert {
            font-family: monospace;
            font-size: 13px;
        }
    </style>
</head>
<body>

    <form action="/Login/Index" method="post" autocomplete="off" class="form">
        <div class="control">
            <h1>Admin Paneline Giriş</h1>
        </div>

        <div class="control block-cube block-input">
            <input name="UserName" placeholder="Kullanıcı Adı" type="text" required />
            <div class="bg-top"><div class="bg-inner"></div></div>
            <div class="bg-right"><div class="bg-inner"></div></div>
            <div class="bg"><div class="bg-inner"></div></div>
        </div>

        <div class="control block-cube block-input">
            <input name="Password" placeholder="Parola" type="password" required />
            <div class="bg-top"><div class="bg-inner"></div></div>
            <div class="bg-right"><div class="bg-inner"></div></div>
            <div class="bg"><div class="bg-inner"></div></div>
        </div>

        <button type="submit" class="btn block-cube block-cube-hover">
            <div class="bg-top"><div class="bg-inner"></div></div>
            <div class="bg-right"><div class="bg-inner"></div></div>
            <div class="bg"><div class="bg-inner"></div></div>
            <div class="text">Giriş Yap</div>
        </button>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger d-flex align-items-center mt-3 fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.964 0L.165 13.233c-.457.778.091 1.767.982 1.767h13.707c.89 0 1.438-.99.982-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                <div>
                    @Html.ValidationSummary()
                </div>
            </div>
        }

        
    </form>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
