
@{
    ViewBag.Title = "CreateSubscription";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="mb-4">Abonelik Oluşturma</h2>

<form method="post" style="max-width: 300px;">
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email adresinizi girin" style="width: 100%;" />
    </div>

    <button type="submit" class="btn btn-success w-100">Abone Ekle</button>
</form>
