
@{
    ViewBag.Title = "CreateSubscription";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Abone Oluşturma Sayfası</h2>

<form method="post">

    <label>Email</label>
    <input type="text" class="form-control" name="Email" style="width:200px" />
    <button class="btn btn-success">Abone Ekle</button>

</form>