@model AcunMedyaTravelProject.Entities.Subscription
@{
    ViewBag.Title = "UpdateSubscription";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Abone Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.SubscriptionID)
    <label>Email</label>
    @Html.TextBoxFor(x => x.Email)
    <br />
    <button>Güncelle</button>
</form>