@model AcunMedyaTravelProject.Entities.Subscription
@{
    ViewBag.Title = "UpdateSubscription";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container mt-5" style="max-width: 600px;">
    <h2 class="text-center mb-4">Aboneliği Güncelle</h2>

    <form method="post">
        @Html.HiddenFor(x => x.SubscriptionID)

        <div class="form-group mb-4">
            <label for="Email" class="form-label">Email</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email adresini girin", type = "email" })
        </div>

        <button type="submit" class="btn btn-primary w-100">Güncelle</button>
    </form>
</div>