
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="mb-4">Kategori Oluştur</h2>

<form method="post" style="max-width: 300px;">
    <div class="mb-3">
        <label for="CategoryName" class="form-label">Kategori Adı</label>
        <input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="Kategori adı girin" />
    </div>
    <button type="submit" class="btn btn-success w-100">Ekle</button>
</form>