@model AcunMedyaTravelProject.Entities.Booking
@{
    ViewBag.Title = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="text-center mb-4">Rezervasyon Güncelle</h2>

    <form method="post">
        @Html.HiddenFor(x => x.BookingID)

        <div class="form-group mb-3">
            <label for="Title" class="form-label">Başlık</label>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Rezervasyon başlığını girin" })
        </div>

        <div class="form-group mb-3">
            <label for="ImageURL" class="form-label">Açıklama</label>
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Rezervasyon açıklamasını girin" })
        </div>

        <div class="form-group mb-3">
            <label for="Description" class="form-label">Fotoğraf URL</label>
            @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control", placeholder = "Görsel linkini girin" })
        </div>

        <button type="submit" class="btn btn-primary w-100">Güncelle</button>
    </form>
</div>