
@{
    ViewBag.Title = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="mb-4">Slider Oluştur</h2>

<form method="post" style="max-width: 400px;">
    <div class="mb-3">
        <label for="Title" class="form-label">Başlık</label>
        <input type="text" class="form-control" id="Title" name="Title" placeholder="Başlık girin" />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Açıklama</label>
        <input type="text" class="form-control" id="Description" name="Description" placeholder="Açıklama girin" />
    </div>

    <div class="mb-3">
        <label for="Description2" class="form-label">Açıklama 2</label>
        <input type="text" class="form-control" id="Description2" name="Description2" placeholder="İkinci açıklamayı girin" />
    </div>

    <div class="mb-4">
        <label for="ImageURL" class="form-label">Fotoğraf URL</label>
        <input type="text" class="form-control" id="ImageURL" name="ImageURL" placeholder="Görsel linkini girin" />
    </div>

    <button type="submit" class="btn btn-success w-100">Ekle</button>
</form>
