
@{
    ViewBag.Title = "CreateDestinations";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateDestinations</h2>

<form method="post">

    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" style="width:200px" />
    <label>Fotoğraf</label>
    <input type="text" class="form-control" name="Description" style="width:200px" />
    <label>Seyahat Ücreti</label>
    <input type="text" class="form-control" name="ImageURL" style="width:200px" />
    <label>Gün Sayısı</label>
    <input type="text" class="form-control" name="ImageURL" style="width:200px" />
    <button class="btn btn-success">Ekle</button>

</form>