<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="~/regal-1.0.0/images/faces/face28.png">
        </div>
        <div class="user-name">
            Edward Spencer
        </div>
        <div class="user-designation">
            Developer
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Panel</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Kategori</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Slider/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Slider</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Services/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Servisler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Destinations/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Seyahatler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Booking/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Testimonial/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sponsor/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Sponsorlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Subscription/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Aboneler</span>
            </a>
        </li>
    </ul>
</nav>
