<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQFhBKoo2qw8fg/profile-displayphoto-shrink_200_200/B4DZTXLUJuG8AY-/0/1738776856341?e=1752710400&v=beta&t=aI_jJjQojT1RS6hSq2qPc7HYBZ8FP7sy6ySSvuo54Os">
        </div>
        <div class="user-name">
            Koray Şimşek
        </div>
        <div class="user-designation">
            Developer
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Dashboard/">
                <img src="~/regal-1.0.0/images/dashboard.png" style="margin-right: 10px;" />
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Dashboard/">
                <img src="~/regal-1.0.0/images/category.png" style="margin-right: 10px;" />
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Slider/">
                <img src="~/regal-1.0.0/images/home.png" style="margin-right: 10px;" />
                <span class="menu-title">Anasayfa</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Services/">
                <img src="~/regal-1.0.0/images/services.png" style="margin-right: 10px;" />
                <span class="menu-title">Servisler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Destinations/">
                <img src="~/regal-1.0.0/images/destinations.png" style="margin-right: 10px;" />
                <span class="menu-title">Seyahatler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Booking/">
                <img src="~/regal-1.0.0/images/booking.png" style="margin-right: 10px;" />
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Testimonial/">
                <img src="~/regal-1.0.0/images/testimonial.png" style="margin-right: 10px;" />
                <span class="menu-title">Referanlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Sponsor/">
                <img src="~/regal-1.0.0/images/sponsor.png" style="margin-right: 10px;" />
                <span class="menu-title">Sponsorlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Subscription/">
                <img src="~/regal-1.0.0/images/subscription.png" style="margin-right: 10px;" />
                <span class="menu-title">Abonelikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Default/">
                <img src="~/regal-1.0.0/images/gotopage.png" style="margin-right: 10px;" />
                <span class="menu-title">Sayfaya Git</span>
            </a>
        </li>
    </ul>
</nav>
